<th:block th:fragment="footer">
            <div class="container">
                <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                    <div class="col mb-3">
                        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                            <i class="bi bi-person-badge-fill fs-1"></i>
                        </a>
                        <p class="text-body-secondary">© Charles Fouquet 2023</p>
                    </div>

                    <div class="col mb-3">

                    </div>

                    <div class="col mb-3">
                        <h5>Pages</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Accueil</a></li>
                            <li class="nav-item mb-2"><a href="/addEmployee" class="nav-link p-0 text-body-secondary">Ajouter un employé</a></li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h5>Catégories Socio-Pro</h5>
                        <ul class="nav flex-column">
                            <li th:each="elt,i:${catTable}" class="nav-item mb-2"><a th:text="${elt}" href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
                        </ul>
                    </div>

                    <div class="col mb-3">
                        <h5>Socials</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="https://charlesfouquet.github.io" target="_blank"><i class="bi bi-browser-safari"></i> GitHub Portfolio</a></li>
                            <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="https://github.com/charlesfouquet" target="_blank"><i class="bi bi-github"></i> GitHub Profile</a></li>
                            <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="https://www.linkedin.com/in/charles-fouquet/" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                            <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="https://www.facebook.com/fouquetcharles" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></li>
                            <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="https://www.instagram.com/charles.fouquet/" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </body>
    </html>
</th:block>