<div th:replace="~{fragments/header :: header}"></div>

<h1 class="text-center mt-5">Connexion</h1>
<h3 class="text-center">Gérez sans plus attendre vos employés</h3>

<form class="w-25 mx-auto" method="post" th:action="@{/login}">
    <div class="form-group">
        <label for="email" class="form-control-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" />
    </div>
    <div class="form-group">
        <label for="password" class="form-control-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password" />
    </div>
    <div class="text-center">
        <input type="submit" value="Je me connecte" class="btn btn-primary mt-3" />
    </div>
</form>

<div th:replace="~{fragments/footer :: footer}"></div>